* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  max-width: fit-content;
  cursor: pointer;
  padding: 1px;
}

input[type="radio"]:checked,
input[type="radio"]:hover {
  border-color: gold;
  background-color: rgba(47, 221, 178, 0.5);
}

input[type="radio"]::before {
  content: attr(icon);
  font-size: x-large;
  top: 0;
  left: 0;
}