li.done span.taskDesc{
    text-decoration: line-through;
    color: darkgray;
}

li.done::marker{
    content: '✓';
    color: green;
}

p:has(+ ul.displayNone){
    text-decoration: underline;
}

p:has(+ ul.displayNone)::before{
    content: '>';
}

.displayNone{
    display: none;
}